<launch>
	<node name="turtlesim" pkg="turtlesim" type="turtlesim_node" output="screen" required="true" />
	<node name="UI" pkg="assignment1_rt" type="UI" output="screen" required="true"/>
	<node name="Distance" pkg="assignment1_rt" type="Distance" output="screen" launch-prefix="terminator -x"/>	
</launch>
